name: Generate Pac-Man Animation

on:
  # Run automatically every 12 hours
  schedule:
    - cron: "0 */12 * * *"
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
  # Run on every push to main branch
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Generate Pac-Man contribution graph
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Generate Pac-Man
        uses: lowlighter/metrics@latest
        with:
          filename: dist/github-contribution-grid-pacman.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          config_display: large
          config_animations: yes
          
      - name: Push Pac-Man to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
